*{
    font-family:sans-serif;
    color: aliceblue;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 131, 172);
    display: grid;
    place-content: center;
    text-align: center;
}
button{
    background-color: navy;
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
b{
    background-color: navy;
    padding: 5px;
    border-radius: 50%;
}